@mixin heading-style($border: $green) {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 10px;
    &:after {
	    content: "";
	    position: absolute;
	    left: 50%;
	    bottom: 0;
	    width: 50px;
	    height: 1px;
	    margin-left: -25px;
	    background-color: $border;
    }
}

@mixin square($size) {
	width: $size;
	height: $size;
}

@mixin rounded($radius: 0.5em) {
  // -webkit-border-radius: $radius; 
  // -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin round-container {
	@include rounded(50%);
	overflow: hidden;
}

@mixin object-fit {
	/* For browsers that support 'object-fit' */
	@supports ( object-fit: cover ) {
		height: 100%;
		left: 0;
		-o-object-fit: cover;
		object-fit: cover;
		top: 0;
		-ms-transform: none;
		-moz-transform: none;
		-webkit-transform: none;
		transform: none;
		width: 100%;
	}
}