.sydney-hero-area {
	position: relative;
	.header-title {
		@include heading-style($green);
		position: absolute;
		bottom: 100px;
		left: 10px;
		right: 10px;
		color: $white;
	}
}

.entry-header .entry-title {
	.page &,
	.single-employees & {
		@include heading-style;
		font-size: 42px;
	}

}


.site-header {
	background-color: rgba( $white, .9 );
}

.sydney_services_widget {
	.service {
		.roll-icon-box .service-thumb {
			@include square(100px);
			@include round-container;
			img {
				@include object-fit;
			}
		}
		h3 + p {
			display: none;
		}
	}
}

.roll-team .team-item:hover {
	>.team-inner .team-pop {
		opacity:0;
		cursor: default;
	}
}