.sydney-hero-area {
	position: relative;
	.header-title {
		@include heading-style($green);
		position: absolute;
		bottom: 100px;
		left: 10px;
		right: 10px;
		color: $white;
	}
}

.entry-header .entry-title {
	.page &,
	.single-employees & {
		@include heading-style;
		font-size: 42px;
	}
}

.site-header {
	background-color: rgba( $white, .9 );
	padding: 10px 0;
}

.slide-inner {
	.maintitle,
	.subtitle {
		margin-left: 15px;
		margin-right: 15px;
	}
}

.sydney_services_widget {
	.service {
		.roll-icon-box .service-thumb {

			a {
				@include square(200px);
				@include round-container;
				margin: 0 auto;
				display: block;

				&.compat-object-fit {
					background-size: cover;
					background-position: center center;
					img { // hide image if object fit is not supported - opacity to 0 for the link area
						opacity: 0;
					}
				}
			}
			img {
				@include object-fit;
				// height: 100px;
				// width: auto;
			}
		}
		h3 + p {
			display: none;
		}
	}
}

.roll-team .team-item:hover {
	>.team-inner .team-pop {
		opacity:0;
		cursor: default;
	}
}

.site-footer a {
    color: #fff !important;
    &:hover {
    	color: $green !important;
    }
}
